<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if logged_in? %>
      <h2>Welcome to MusicApp, <%= current_user.email %></h2>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_user_url %>">Sign up for MusicApp</a>
      <a href="<%= new_session_url %>">Sign in to MusicApp</a>
    <% end %>
  </header>
    <%= yield %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </body>
</html>
