<h1>Edit Sub</h1>

<form action="<%=sub_url(@sub)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="PATCH">

    <label>Title: </label>
    <input type="text" name="sub[title]" value="<%=@sub.title%>">

    <label>Description: </label>
    <textarea name="sub[description]" value="<%=@sub.description%>"></textarea>
    <input type="submit" value="Update">
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <%= error %>
        <% end %>
    <% end %>
    <input type="hidden" name="sub[moderator_id]" value="<%= current_user.id %>">
</form>
