<h1>Create New Sub</h1>

<form action="<%=subs_url%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>Title: </label>
    <input type="text" name="sub[title]" value="<%=@sub.title%>">

    <label>Description: </label>
    <textarea name="sub[description]" value="<%=@sub.description%>"></textarea>
    <input type="submit" value="Submit">
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <%= error %>
        <% end %>
    <% end %>
    <input type="hidden" name="sub[moderator_id]" value="<%= current_user.id %>">
</form>

